<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4" *ngIf="dettaglioPost">
      <h2 class="fw-bold"> {{dettaglioPost.title}}</h2>

      <mat-card>
        <div *ngIf="dettaglioUtente">
          <div class="row">
            <div class="col-1">

              <span class="badge rounded-pill bg-success">{{dettaglioUtente.iniziali}}</span>

            </div>
          </div>
          <div class="row">
            <div class="col">

              {{dettaglioUtente.name}}
            </div>
          </div>

          <div class="row">
            <div class="col">

              {{dettaglioUtente.street}} , {{dettaglioUtente.city}}
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <span>{{dettaglioPost.body}}</span>
          </div>
        </div>

      </mat-card>


      <div *ngFor="let commento of listaCommenti">
        <mat-card class="mt-2 ">

          <div class="row">
            <div class="col">
              <h4 class="fw-bold">{{commento.name}}</h4>

            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>{{commento.body}}</p>

            </div>
          </div>


        </mat-card>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<!-- {{listaUtenti}} -->